@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -99;
}

::selection {
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 3px 0 1px #ff3f1a, -3px 0 1px #00a7e0;
  color: white;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 3px 0 1px #ff3f1a, -3px 0 1px #00a7e0;
  color: white;
}

#background {
  background: no-repeat center center fixed;
  background-image: url("../images/bg.gif");
  background-color: #1a1a1a;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(2px) brightness(30%);
  -webkit-filter: blur(2px) brightness(30%);
  -moz-filter: blur(2px) brightness(30%);
  -o-filter: blur(2px) brightness(30%);
  transform: scale(1.1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#np {
  position: relative;
  #now-playing {
    color: white;
    position: absolute;
    bottom: 0;
    left: 10px;
    display: flex;
    p {
      margin: 0 0 6px 0;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    #darken {
      background: transparent;
      margin-bottom: 10px;
      margin-right: 8px;
      display: block;
      width: 72px;
      height: 72px;
    }
    #darken:hover,
    #darken:focus {
      filter: brightness(50%);
    }
    #darken:hover {
      cursor: pointer;
    }
    img {
      display: block;
      width: 72px;
      height: 72px;
    }
    .art {
      font-size: small;
    }
  }
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  text-align: center;
  color: white;
  h1 {
    font-size: 2.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  h1,
  h4 {
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
    font-weight: 100;
  }
  ul {
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      a {
        text-decoration: none;
        position: relative;
        display: block;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        i {
          padding-left: 5px;
          padding-right: 5px;
          font-size: 2em;
          color: #fff;
        }
      }
    }
  }
}
